<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>

<h1>Editar notícia</h1>

<form method="post" action="/edit/{{id}}">
    <label for="title">Título:</label>
    <input type="text" id="title" name="title" placeholder="Título" value="{{post.title}}" required>
    <br />
    <label for="description">Descrição:</label>
    <input type="text" id="description" name="description" placeholder="Descrição" value="{{this.dataValues.description}}"  required>
    <textarea id="summernote" name="text" required>{{this.dataValues.text}}</textarea>
    <input type="submit" value="Editar postagem">
</form>


    <script>
      $('#summernote').summernote({
        placeholder: 'Hello stand alone ui',
        tabsize: 2,
        height: 360,
        toolbar: [
          ['style', ['style']],
          ['font', ['bold', 'underline', 'clear']],
          ['color', ['color']],
          ['para', ['ul', 'ol', 'paragraph']],
          ['table', ['table']],
          ['insert', ['link', 'picture', 'video']],
          ['view', ['fullscreen', 'codeview', 'help']]
        ]
      });
    </script>