<h1>{{post.dataValues.title}}</h1>

<img src="{{post.dataValues.imgUrl}}">

<div id="element">
    
</div>

<script>
    var element = document.getElementById('element');
    element.innerHTML = `{{{post.dataValues.text}}}`
</script>